diagrams/test1.txt
[{"id":"c29a7895.ba2cb8","type":"mysql","z":"d1a1d23d.35158","mydb":"d88a3080.293e8","name":"Test","x":490,"y":280,"wires":[["8a1032c7.c55c6"]]},{"id":"fadfec09.fc994","type":"http in","z":"d1a1d23d.35158","name":"","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":140,"y":280,"wires":[["583c196.3f3fbe8","bf6047fa.dedb98","59899ea5.534c2"]]},{"id":"8a1032c7.c55c6","type":"http response","z":"d1a1d23d.35158","name":"responsed","statusCode":"","headers":{"content-type":"application/json"},"x":720,"y":300,"wires":[]},{"id":"583c196.3f3fbe8","type":"function","z":"d1a1d23d.35158","name":"SQL Query","func":"var res = \"\"\nfor(var field in msg.payload) {\n    res+=`${field}='${msg.payload[field]}' and `\n}\nres=res.substring(0,res.length-5)\nmsg.topic = `SELECT * FROM reservations where ${res}`\n//msg.payload=[msg.payload.email];\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":280,"wires":[["c29a7895.ba2cb8"]]},{"id":"59899ea5.534c2","type":"debug","z":"d1a1d23d.35158","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":270,"y":420,"wires":[]},{"id":"1981bab8.aca385","type":"debug","z":"d1a1d23d.35158","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":80,"wires":[]},{"id":"bf6047fa.dedb98","type":"function","z":"d1a1d23d.35158","name":"Object.keys()","func":"//msg.payload = Object.keys(msg.payload)\nvar res = \"\"\nfor(var field in msg.payload) {\n    res+=`${field}='${msg.payload[field]}' and `\n}\nres=res.substring(0,res.length-5)\nmsg.payload = res\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":180,"wires":[["1981bab8.aca385"]]},{"id":"d88a3080.293e8","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"escaperoom","tz":""}]