diagrams/test2.txt
[{"id":"ce3648a5.161a58","type":"JsonWebToken","z":"3f8ff4bb.30b07c","name":"Token","tokenconfig":"127811b8.6aca1e","x":350,"y":280,"wires":[["9a256c6e.657ce"]]},{"id":"ced182a8.d60c4","type":"http in","z":"3f8ff4bb.30b07c","name":"","url":"/encrypt","method":"get","upload":false,"swaggerDoc":"","x":170,"y":280,"wires":[["ce3648a5.161a58"]]},{"id":"9a256c6e.657ce","type":"change","z":"3f8ff4bb.30b07c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"token","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":280,"wires":[["8f1ad918.810888"]]},{"id":"8f1ad918.810888","type":"http response","z":"3f8ff4bb.30b07c","name":"","statusCode":"","headers":{},"x":780,"y":280,"wires":[]},{"id":"309c60cf.06703","type":"http in","z":"3f8ff4bb.30b07c","name":"","url":"/decode","method":"get","upload":false,"swaggerDoc":"","x":180,"y":460,"wires":[["b2678746.831d68"]]},{"id":"8ed40f5.d5604f","type":"JsonWebToken","z":"3f8ff4bb.30b07c","name":"token","tokenconfig":"127811b8.6aca1e","x":510,"y":460,"wires":[["3c8d0828.571168"]]},{"id":"b2678746.831d68","type":"function","z":"3f8ff4bb.30b07c","name":"change","func":"msg.token = msg.payload.access_token;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":460,"wires":[["8ed40f5.d5604f","7b2be963.35e9a8"]]},{"id":"3c8d0828.571168","type":"function","z":"3f8ff4bb.30b07c","name":"change1","func":"msg.payload = msg.token;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":460,"wires":[["c80113d1.7b798"]]},{"id":"c80113d1.7b798","type":"http response","z":"3f8ff4bb.30b07c","name":"","statusCode":"","headers":{},"x":860,"y":460,"wires":[]},{"id":"7b2be963.35e9a8","type":"debug","z":"3f8ff4bb.30b07c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":660,"y":540,"wires":[]},{"id":"127811b8.6aca1e","type":"JsonWebToken_config","z":"","name":"secret","secret":"avvvbafvkjac advevsjvJASNVDVND SKJFNDSVKS KJkjndkjbfkjve"}]